.expense-img {
    width: 100%;
    height: 200px;
}

.expense-img-container {
    position: relative;
    margin-bottom: 8px;
}

.expense-img-container .expense-remove-icon {
    position: absolute;
    right: -15px;
    background: #fff;
    border-radius: 50%;
    top: -8px;
    cursor: pointer;
}