.clientTable{
    border: 5px;
    background-color: #5e72e4;
    color: azure;
}
.btn{
    /* float:right; */
    color: azure;
    
    /* border-color: azure; */
}
.fas{
    color: azure;
}
.myDiv{
    border: 5px;
    background-color: azure;
    color: #5e72e4;
}
table, th, td {
    border: 1px solid azure;
    border-collapse: collapse;
    width: 70%;
    height:10%;
  } 
h2 {
    width: 100%; 
    border-bottom: 1px solid #dae5ef; 
    line-height: 0.1em;
    margin: 10px 0 20px; 
 }
label{
    width: 100%;
} 
.tdDisplay{
    background-color: azure;
    color:#5e72e4;
}
#tableList{
    width: 25%;
    margin-bottom:1.5%;
    height:100%;
}
.fas{
    color:#5e72e4;
}
.clientInfo h4,
.clientInfo p{
    display: inline;
}
.hoursInfo h4,
.hoursInfo p{
    display: inline;
}
.taskInfo h4,
.taskInfo p{
    display: inline;
}
.billInfo h4,
.billInfo p{
    display: inline;
}
.dateInfo h4,
.dateInfo p{
    display: inline;
}